.review-container {
  background-color: rgb(236, 232, 226);
  border-radius: 8px;
  width: 100%;
}
.rv {
  width: 150px;
  padding: 15px;
}
.con {
  display: flex;
  justify-content: space-between;
}
.button {
  padding: 15px;
}
.pic-1 {
  width: 150px;
  padding: 15px;
}
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
}
.para {
  font-weight: 400;
  color: black;
}
span {
  font-weight: bold;
}
